body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: var(--BG-primary);
  /*@TODO test*/
  overflow: hidden;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// layout
.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: var(--BG-primary);
  grid-template-areas:
    'header header'
    'content content'
    'content content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 1fr;
  &.logged {
    grid-template-areas:
      'aside header header'
      'aside  content content'
      'aside  content content';
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: min-content 1fr 1fr;
  }
}

// transitions
.fade {
  &-enter-active,
  &-leave-active {
    transition: var(--transition-default);
    transform: translateY(0);
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}
